:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light; /* we only support light theme */
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 0.5rem;
  flex-grow: 1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: azure;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: lightskyblue;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-form input,
#login-form button {
  font-size: 1.2em;
  padding: 0.8em 1.4em;
  margin: 0.5em;
}

#logout-button {
  font-size: 0.8em;
  padding: 0.4em 0.8em;
  margin-top: 2em;
}

#app-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 10;
  background-color: lightcyan;
  padding: 0.5rem;
}

#app-header img {
  width: 50px;
  margin-right: 1rem;
}

#app-header .title {
  font-size: 1.5em;
  padding-top: 0.2em;
  margin: 0;
}

#variant-info {
  padding: 0.3rem 0.5rem;
  border-radius: 0.2em;
  background-color: #8962d1;
  color: white;
  cursor: help;
  margin-left: 0.5rem;
  font-size: 0.8rem;
  font-weight: bolder;
  white-space: nowrap;
  /* display toggled by JS */
}

#login-form #variant-container {
  width: 100%;

  #sp2any-base-url-input,
  span {
    font-size: 0.7em;
    padding: 0em;
    margin: 0em;
  }

  span {
    color: gray;
  }

  #sp2any-base-url-input {
    width: 75%;
  }
}

#update-bridge-note {
  font-size: x-small;
  font-weight: bold;
  color: darkred;
  margin-left: 0.3rem;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  color: darkslategray;
  background-color: lightcyan;
  padding: 0.8rem;
}

.autostart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
}

.autostart-container label {
  font-size: small;
}

#autostart {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: 60px;
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 17px;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

#autostart::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 28px;
  height: 28px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

#autostart:checked {
  background-color: #2196F3;
  border-color: #2196F3;
}

#autostart:checked::before {
  transform: translateX(26px);
}